<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.papapp"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaPapp"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyJ0OxFc0nJCB3GwlO0NU9dnrqVd7FRNk" />

        <!-- Map Activity -->
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.google.android.libraries.places.widget.AutocompleteActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:replace="android:theme" />


        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".PublicTransport"
            android:exported="true" />
        <activity
            android:name=".Stops"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".AnnouncementActivity"
            android:exported="true" />
        <activity
            android:name=".CafeteriaActivity"
            android:exported="true" />
        <activity
            android:name=".CafeMenu"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <!-- Library Classes -->
        <activity
            android:name=".Library"
            android:exported="false" />
        <activity
            android:name=".ManageAndRate"
            android:exported="false" />
        <!-- EndOf Library Classes -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>